@import url("https://fonts.googleapis.com/css2?family=Cantarell&display=swap");
@import url("https://fonts.googleapis.com/earlyaccess/roundedmplus1c.css");

*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

body {
  font-family: "Cantarell", "Rounded Mplus 1c", sans-serif;
  line-height: 1.2em;
}

.site-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: $site-header-height;
  padding: 0 18px;
  overflow: visible;
  background-color: white;
  border-bottom: 1px solid $frame-border-color;
  opacity: 0.8;
}

.site-logo {
  width: 205px;
  height: 28px;
  background-image: url(/images/atelier-logo.svg);
  background-size: 100%;
  transition: opacity 250ms;

  &:hover {
    opacity: 0.8;
  }
}

.global-navigation {
  &-list {
    display: flex;
    visibility: hidden;
    user-select: none;

    @media (max-width: $responsive-boundary-width) {
      position: absolute;
      top: 100%;
      right: 0;
      flex-direction: column;
      visibility: hidden;
    }

    @media (min-width: ($responsive-boundary-width + 1)) {
      align-items: center;
    }
  }

  &-item {
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    color: #4c4c4c;
    transition: color 250ms;

    @media (max-width: $responsive-boundary-width) {
      width: 175px;
      padding: 10px 16px;
      overflow: hidden;
      text-align: right;
      background-color: white;

      &:not(:first-child) {
        margin-top: 1px;
      }

      &__link {
        display: block;
      }
    }

    @media (min-width: ($responsive-boundary-width + 1)) {
      &:not(:first-child) {
        margin-left: 18px;
      }
    }

    & a:hover {
      color: silver;
    }
  }

  &-hamburger-button {
    font-size: 24px;
    line-height: 24px;
    cursor: pointer;

    &:not(.active) {
      &:hover {
        color: #4c4c4c;
      }
    }

    &.active {
      color: white;
      text-shadow: black 1px 1px 0, black -1px -1px 0, black -1px 1px 0,
        black 1px -1px 0, black 0px 1px 0, black 0 -1px 0, black -1px 0 0,
        black 1px 0 0;
    }
  }
}

.page-wrapper {
  position: absolute;
  top: $site-header-height;
  right: 0;
  left: 0;
}

.page-heading {
  padding: 24px 0;
  font-size: 32px;
  font-weight: bold;
  line-height: 32px;
  color: #0f165a;
  text-align: center;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px 12px;

  &-item {
    width: 32px;
    transition: opacity 250ms;

    @media (max-width: $responsive-boundary-width) {
      flex-grow: 1;

      &:not(.active) {
        display: none;
      }
    }

    @media (min-width: ($responsive-boundary-width + 1)) {
      &.active {
        color: white;
        background-color: #babaff;
      }
    }

    &--prev,
    &--next {
      width: 48px;
      font-size: 1.2em;
      background-color: #eeeeff;

      &.disabled {
        visibility: hidden;
      }

      @media (max-width: $responsive-boundary-width) {
        flex-grow: 2;
      }
    }

    &,
    &--prev,
    &--next {
      font-weight: bold;
      color: #303138;
      text-align: center;
      user-select: none;

      @media (max-width: $responsive-boundary-width) {
        height: 48px;
        margin: 0;
        line-height: 48px;
      }

      @media (min-width: ($responsive-boundary-width + 1)) {
        height: 32px;
        line-height: 32px;

        &:not(:first-child) {
          margin-left: 12px;
        }
      }

      &:hover {
        opacity: 0.8;
      }
    }

    &__link {
      display: block;
    }
  }
}

.site-footer {
  &:before {
    display: block;
    width: 100%;
    height: 2px;
    content: "";
    background: linear-gradient(to right, lightgray, gray);
  }

  .copyright {
    padding: 16px 0;
    color: gray;
    text-align: center;
  }
}

.page-loading {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  transition: opacity 250ms;

  .loading-image {
    display: block;
    width: 64px;
    height: 64px;
    transform: translate(-50%, -50%);
    animation: loading_image 2s linear infinite;
  }
}

@keyframes loading_image {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(90deg);
  }
  25% {
    transform: rotate(90deg);
  }
  35% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  60% {
    transform: rotate(270deg);
  }
  75% {
    transform: rotate(270deg);
  }
  85% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.share-buttons {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-bottom: 12px;

  &-item:not(:first-child) {
    margin-left: 10px;
  }
}

.under-construction {
  padding: 24px 0;
  font-size: 1.5em;
  color: gray;
  text-align: center;
}

.markdown-body {
  color: inherit !important;

  ul,
  ol {
    list-style: initial !important;
  }
}
