@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/earlyaccess/roundedmplus1c.css");
@import "reset";

*, *:before, *:after {
  box-sizing: border-box;
}

a {
  color: initial;
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

.link--normal {
  color: #6a6adf;
  text-decoration: underline;

  &:hover {
    opacity: 0.7;
  }
}

body {
  font-family: "Montserrat", "Rounded Mplus 1c", sans-serif;
  line-height: 1.2em;
}

.site-header {
  background-color: white;
  height: 54px;
  left: 0;
  opacity: 0.8;
  overflow: visible;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.title {
  left: 18px;
  position: absolute;
  top: 13px;

  &__link {
    display: block;
    background-image: url(/images/atelier-logo.svg);
    background-size:100%;
    height: 28px;
    width: 224px;
  }
}

.global-nav {
  display: flex;
  position: absolute;
  user-select: none;

  @media (max-width: 899px) {
    flex-direction: column;
    right: 0;
    top: 100%;
  }

  @media (min-width: 900px) {
    align-items: center;
    right: 18px;
    top: 15px;
  }

  &-item {
    @media (max-width: 899px) {
      overflow: hidden;
      width: 175px;

      &:not(:first-child) {
        margin-top: 1px;
      }
    }

    &__link {
      font-size: 24px;
      line-height: 24px;

      @media (max-width: 899px) {
        background-color: white;
        display: block;
        padding: 10px 16px;
        text-align: right;
      }

      @media (min-width: 900px) {
        margin-left: 24px;
      }

      &:hover {
        color: gray;
      }
    }
  }

  &-hamburger-button {
    cursor: pointer;
    position: absolute;
    right: 18px;
    top: 15px;

    &__icon {
      font-size: 24px;
      line-height: 24px;

      &:not(.active) {
        &:hover {
          opacity: 0.8;
        }
      }

      &.active {
        color: white;
        text-shadow:
            black 1px 1px 0, black -1px -1px 0,
            black -1px 1px 0, black 1px -1px 0,
            black 0px 1px 0, black 0 -1px 0,
            black -1px 0 0, black 1px 0 0;
      }
    }
  }
}

.page-wrapper {
  left: 0;
  position: absolute;
  right: 0;
  top: 54px;
}

.page-heading {
  color: #5F569A;
  font-size: 32px;
  font-weight: bold;
  line-height: 32px;
  margin: 24px 0;
  text-align: center;
}

.pagination {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 24px 12px;

  &-item {
    @media (max-width: 799px) {
      flex-grow: 1;

      &:not(.active) {
        display: none;
      }
    }

    @media (min-width: 800px){
      &.active {
        background-color: #babaff;
        color: white;
      }
    }

    &, &--prev, &--next, &--ellipse {
      color: #343434;
      font-weight: bold;
      height: 32px;
      line-height: 32px;
      margin: 0 6px;
      text-align: center;
      user-select: none;
    }

    &, &--prev, &--next {
      &:hover:not(.disabled) {
        opacity: 0.7;
      }

      @media (max-width: 799px) {
        margin: 0;
        height: 48px;
        line-height: 48px;
      }
    }

    &--prev, &--next {
      width: 48px;
      background-color: #eeeeff;
      color: #343434;
      font-size: 1.2em;

      &.disabled {
        opacity: 0;
      }

      @media (max-width: 799px) {
        flex-grow: 2;
      }
    }

    &, &--ellipse {
      width: 32px;
    }

    &--ellipse {
      color: lightgray;

      @media (max-width: 799px) {
        display: none;
      }
    }

    &__link {
      color: inherit;
      display: block;
    }
  }
}

.site-footer {
  &:before {
    content:"";
    display:block;
    height:2px;
    width:100%;
    background: linear-gradient(to right, lightgray, gray);
  }

  .copyright {
    color: gray;
    margin: 16px 0;
    text-align: center;
  }
}
