@import "mixins";

.tag-info {
  position: relative;
  margin: 12px;
  border: 1px solid #efefef;
  height: 48px;
  overflow: hidden;
  transition: height 500ms;

  &-foreground {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 1)
    );
    pointer-events: none;
  }

  &.slide-entering,
  &.slide-exited {
    .tag-info-slide-button__down {
      display: inline;
    }
    .tag-info-slide-button__up {
      display: none;
    }
  }

  &.slide-entered,
  &.slide-exiting {
    .tag-info-slide-button__down {
      display: none;
    }
    .tag-info-slide-button__up {
      display: inline;
    }
  }

  &.slide-entered {
    .tag-info-foreground {
      background: none;
    }
  }

  &-slide-button {
    position: absolute;
    color: #5f569a;
    bottom: 0;
    width: 100%;

    &__link {
      display: block;
      padding-top: 12px;
      text-align: center;
      text-decoration: none;

      &:hover {
        opacity: 0.7;
      }
    }
  }
}

.tag-list {
  position: relative;
  padding: 18px 10px 20px 18px;

  &-item {
    display: inline-block;
    margin: 0 8px 8px 0;

    &__link {
      display: block;
      text-decoration: none;

      &:hover {
        opacity: 0.7;
      }
    }
  }

  .tag-name {
  }

  .tag-count {
    color: gray;
    font-size: 0.7em;
  }
}

.art-scroll {
  &-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 8px;
  }

  &-item {
    border: 1px solid lightgray;
    flex: 0 1 calc(50% - 10px);
    height: auto;
    margin: 4px;
    overflow: hidden;
    position: relative;

    @media (min-width: 800px) {
      flex: 0 1 calc(33.3% - 10px);
    }

    &:before {
      content: "";
      display: block;
      padding-top: 100%;
    }

    &-background {
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      bottom: 0;
      left: 0;
      position: absolute;
      top: 0;
      right: 0;
    }

    &__link {
      bottom: 0;
      display: block;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      transition: background 250ms;

      &:hover {
        background: rgba(255, 255, 255, 0.2);
      }
    }
  }
}

.loading {
  padding: 24px 0;
  width: 100%;
  height: 80px;

  &-image {
    animation: loading_image 2s linear infinite;
    display: block;
    margin: 0 auto;
    width: 32px;
  }
}
