// レスポンシブ：横幅の境界値
// ※iPhone 11に準拠
$gallery-modal-responsive-boundary-width: 414px;

.gallery-modal {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  &--open {
    // bodyに指定してスクロールを固定する
    overflow: hidden;
  }

  // オーバレイ
  &-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: black;
    opacity: 0.8;
  }

  &-container {
    position: absolute;

    @media (max-width: $gallery-modal-responsive-boundary-width) {
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
    }

    @media (min-width: $gallery-modal-responsive-boundary-width + 1) {
      width: 80%;
      height: 80%;
      left: 10%;
      top: 10%;
    }
  }

  &-background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &-foreground {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 36px 12px 12px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    color: white;
  }

  &-title {
    margin: 18px 0;
    font-size: 24px;
  }

  &-tag-list {
    &-item {
      display: inline-block;
      margin-right: 6px;

      &__link {
        color: #3396f6;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  &-description {
    padding: 18px 0;
  }

  &-posted-date {
    text-align: right;
    white-space: nowrap;
  }

  &-share-buttons {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    @media (max-width: $gallery-modal-responsive-boundary-width) {
      padding-bottom: 8px;
    }

    @media (min-width: $gallery-modal-responsive-boundary-width + 1) {
      float: left;
    }

    &-item {
      margin: 0 5px;
    }
  }

  .diff-list {
    display: flex;
    position: absolute;
    top: 12px;
    left: 12px;

    &-item {
      width: 64px;
      height: 64px;
      position: relative;
      margin-right: 6px;
      padding: 4px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      border: 1px solid $frame-border-color;
      opacity: 0.8;
      transition: opacity 250ms;

      &__link {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }

      &:hover {
        opacity: 1;
      }

      &.active {
        box-shadow: 0 0 5px white;
        opacity: 1;
      }
    }
  }

  &-close-button {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 24px;
    right: 24px;
    text-align: center;
    cursor: pointer;
    transition: text-shadow 250ms;

    &__icon {
      color: white;
      font-size: 32px;
      line-height: 32px;
    }

    &:hover {
      text-shadow: 0 0 5px white;
    }
  }
}
