/* カルーセル */
.top-carousel {
  position: relative;
  overflow: hidden;

  &.enable-transition {
    .top-carousel-item {
      transition: opacity 1s;
    }
  }

  &:before {
    display: block;
    padding-top: 60%;
    content: "";
  }

  &-item {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0;
  }

  &-nav {
    &-list {
      display: flex;
      align-items: center;
      position: absolute;

      @media (max-width: $responsive-boundary-width) {
        bottom: 9px;
        left: 9px;
      }

      @media (min-width: $responsive-boundary-width + 1) {
        bottom: 18px;
        left: 18px;
      }
    }

    &-item {
      padding: 2px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: calc(100% - 4px);
      border: 1px solid white;
      border-radius: 5px;
      opacity: 0.5;
      cursor: pointer;
      transition-property: box-shadow, opacity;
      transition-duration: 250ms;

      @media (max-width: $responsive-boundary-width) {
        width: 24px;
        height: 24px;
      }

      @media (min-width: $responsive-boundary-width + 1) {
        width: 32px;
        height: 32px;
      }

      &:not(:first-child) {
        margin-left: 5px;
      }

      &:hover {
        opacity: 0.8;
        box-shadow: 0 0 5px white;
      }

      &.active {
        opacity: 1;
      }
    }
  }
}

/* ダッシュボード */
.dashboard {
  display: flex;

  @media (max-width: $responsive-boundary-width) {
    flex-direction: column-reverse;
  }
}

// セクションの見出し
.section-heading {
  padding: 24px 0;
  color: #4c4c4c;
  font-size: 28px;
  line-height: 28px;
  text-align: center;
}

.latest-articles {
  display: flex;
  flex: 1;
  flex-direction: column;

  &-item {
    flex-grow: 1;
    position: relative;
    margin-top: 6px;
    overflow: hidden;
    transition: opacity 250ms;

    &:hover {
      opacity: 0.8;
    }

    &:not(:first-child) {
      flex-grow: 0.5;
      border-top: 1px solid $frame-border-color;
    }

    @media (max-width: $responsive-boundary-width) {
      &:before {
        display: block;
        padding-top: 50%;
        content: "";
      }
    }

    &__link {
      display: block;
    }

    &-background {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-position: center;
      background-repeat: no-repeat;
      // background-size: cover;
    }

    &-foreground {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 36px 12px 12px;
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        rgba(5, 0, 30, 1)
      );
      color: white;
    }

    &-title {
      padding: 12px 0;
      font-size: 18px;
      font-weight: bold;
    }
  }

  &-footer {
    height: 48px;
    padding-right: 24px;
    background-color: black;
    text-align: right;
  }

  &-more {
    color: white;
    font-size: 18px;
    line-height: 48px;
    transition: text-shadow 250ms;

    &:hover {
      text-shadow: 0 0 5px white;
    }
  }
}

.about {
  text-align: center;

  @media (min-width: $responsive-boundary-width + 1) {
    width: 414px;
    padding: 0 8px;
  }

  .description {
    padding: 0 12px 24px;
    font-size: 14px;
  }

  .profile-image {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border: 1px solid lightgray;
    border-radius: 50%;
    overflow: hidden;

    &__image {
      width: 100%;
    }
  }

  .author-name {
    padding: 24px 0 0;
    font-size: 24px;
    line-height: 24px;
  }

  .social-icons {
    display: flex;
    justify-content: center;
    padding: 24px 0;

    &-item {
      width: 24px;
      height: 24px;
      transition: opacity 250ms;

      &:hover {
        opacity: 0.8;
      }

      &:not(:first-child) {
        margin-left: 12px;
      }

      a {
        display: block;
      }

      &__image {
        width: 100%;
      }
    }
  }

  .introduction {
    padding: 24px 12px;
    background-color: #ecf0ff;
    font-size: 14px;
  }

  .twitter-widgets {
    width: 300px;
    margin: 24px auto;
    padding: 0 12px;
    border: 1px solid $frame-border-color;
    border-radius: 10px;
  }
}

@mixin recent-elements {
  padding-bottom: 24px;

  // &:before {
  //   display: block;
  //   width: 100%;
  //   height: 2px;
  //   background: linear-gradient(to right, lightgray, gray);
  //   content: "";
  // }

  &-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 8px;
  }

  &-item {
    height: auto; // 正方形にする
    flex: 0 1 calc(50% - 10px);
    position: relative;
    margin: 4px;
    border: 1px solid $frame-border-color;
    overflow: hidden;

    @media (min-width: $responsive-boundary-width + 1) {
      // flex: 0 1 calc(33.3% - 10px);
    }

    &:before {
      content: "";
      display: block;
    }

    &:not(:last-child) {
      transition: opacity 250ms;

      &:hover {
        opacity: 0.8;
      }
    }

    &__link {
      display: block;
    }

    &-background {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }

    &-foreground {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
    }

    &-title {
      padding: 12px 0;
      font-size: 18px;
      font-weight: bold;
    }

    &-foreground--more {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.8);
      transition: text-shadow 250ms;

      &:hover {
        text-shadow: 0 0 5px white;
      }
    }
  }

  &-more {
    color: white;
    font-size: 24px;
  }

  @content;
}

.recent-arts {
  display: flex;
  flex: 1;
  flex-direction: column;

  @include recent-elements {
    &-item:before {
      padding-top: 100%;
    }
  }
}

.recent-works {
  @include recent-elements {
    &-item:before {
      padding-top: 130%;
    }

    &-item-foreground {
      padding: 36px 12px 12px;
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        rgba(5, 0, 30, 1)
      );
      color: white;
    }
  }
}
