@import "mixins";

.work-list {
  &-item {
    &-title {
      padding: 12px 24px;
      background-color: #eff0ff;
      color: #0f165a;
      font-size: 24px;
      font-weight: bold;
      line-height: 24px;
    }

    &-published-date {
      padding: 18px 28px 0;
      text-align: right;
    }

    &-row {
      display: flex;
      padding: 18px 24px;

      @media (max-width: $responsive-boundary-width) {
        flex-direction: column-reverse;
      }

      &__left-column {
        flex: 1;
      }

      &__right-column {
        @media (min-width: $responsive-boundary-width + 1) {
          width: 400px;
        }
      }
    }

    &-description {
      padding: 24px;
      word-wrap: break-word;
    }

    &-share-buttons {
      display: flex;
      align-items: flex-start;
      padding: 16px 0;

      @media (max-width: $responsive-boundary-width) {
        justify-content: center;
      }

      @media (min-width: $responsive-boundary-width + 1) {
        justify-content: flex-start;
        padding-left: 20px;
      }

      &-item:not(:first-child) {
        margin-left: 10px;
      }
    }

    &-image {
      width: 100%;
      border: 1px solid $frame-border-color;
    }

    .diff-list {
      display: flex;
      padding: 8px 0;

      &-item {
        width: 64px;
        height: 64px;
        position: relative;
        margin-right: 6px;
        padding: 4px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        border: 1px solid $frame-border-color;
        opacity: 0.8;
        transition: opacity 250ms;

        &:hover {
          opacity: 1;
        }

        &.active {
          border-color: #a5a5bf;
          box-shadow: 0 0 2px #a5a5bf;
          opacity: 1;
        }

        &__link {
          display: block;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
        }
      }
    }
  }
}
