@import "mixins";

.work-list {
  &-item {
    &-title {
      background-color: #eff0ff;
      color: #0f165a;
      font-size: 24px;
      font-weight: bold;
      line-height: 24px;
      padding: 12px 24px;
    }

    &-published-date {
      margin: 18px 28px;
      text-align: right;
    }

    &-row {
      display: flex;
      margin: 18px 0;
      padding: 0 24px;

      @media (max-width: 799px) {
        flex-direction: column-reverse;
      }

      &__left-column {
        flex: 1;
      }

      &__right-column {
        @media (min-width: 800px) {
          width: 400px;
        }
      }
    }

    &-description {
      padding: 24px;
      word-wrap: break-word;
    }

    &-share-buttons {
      align-items: flex-start;
      display: flex;
      margin: 16px 0;

      @media (max-width: 799px) {
        justify-content: center;
      }

      @media (min-width: 800px) {
        justify-content: flex-start;
        margin-left: 20px;
      }

      &-item {
        margin: 0 5px;
      }
    }

    &-image {
      border: 1px solid lightgray;
      width: 100%;
    }

    .diff-list {
      margin: 8px 0;
      display: flex;

      &-item {
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 64px;
        height: 64px;
        border: 1px solid #cdcdcd;
        padding: 4px;
        margin-right: 6px;
        opacity: 0.8;
        position: relative;

        &__link {
          display: block;
          bottom: 0;
          left: 0;
          position: absolute;
          right: 0;
          top: 0;
        }

        &:hover {
          opacity: 1;
        }

        &.active {
          border-color: #a5a5bf;
          box-shadow: 0 0 2px #a5a5bf;
          opacity: 1;
        }
      }
    }
  }
}
