@import "mixins";
@import "common";

.work-list {
  &-item {
    &-title {
      background-color: #EFF0FF;
      color: #0F165A;
      font-size: 24px;
      font-weight: bold;
      line-height: 24px;
      padding: 12px 24px;
    }

    &-date {
      margin: 18px 28px;
      text-align: right;
    }

    &-row {
      display: flex;
      margin: 18px 0;
      padding: 0 24px;

      @media (max-width: 799px){
        flex-direction: column-reverse;
      }

      &__left-column {
        flex: 1;
      }

      &__right-column {
        @media (min-width: 800px){
          width: 400px;
        }
      }
    }

    &-description {
      padding: 24px;
      word-wrap: break-word;
    }

    &-image {
      border: 1px solid lightgray;
      width: 100%;
    }
  }
}
